<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Update Blog</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="/assets/vendor/js/helpers.js"></script>

  <script src="/assets/js/config.js"></script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/assets/vendor/libs/jquery/jquery.js"></script>

  <script>
    tinymce.init({
      selector: '#description'
    });
  </script>
</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->


      <%- include ('./partials/aside.ejs') %>

        <!-- / Menu -->

        <div class="layout-page">
          <!-- Navbar -->
          <%- include ('./partials/nav.ejs') %>


            <!-- / Navbar -->

            <div class="content-wrapper">

              <div class="container-xxl flex-grow-1 container-p-y">
                <h1 class="text-primary">Update Blog</h1>
                <% if(errors != undefined ){ %>
                  <ul >
                      <% errors.forEach(function(error){ %>
                          <li style="list-style-type: none;">
                            <div id="alert-message" class="alert alert-danger">  <%= error.msg %> </div>
                          </li>
                        <% }) %>
                  </ul>
                <% } %>
                <div class="row">

                  <form method="post" enctype="multipart/form-data">
                    <div id="alert-message"></div>
                    <div class="form-group">
                      <label for="title">Blog Title</label>
                      <input type="text" class="form-control" name="title" id="title" value="<%= res.title %>"  required> 
                    </div>
                    <div class="form-group ">
                      <label for="category">Category</label>
                      <select class="form-select" name="category" id="category" required>
                        <option selected="<%= res.category %>"><%= res.category %></option>
                        <% for(i=0;i<cat.length;i++){ %>                        
                          <option >
                            <%= cat[i].category %>
                          </option>
                          <% } %>
                      </select>
                    </div>

                    <div class="form-group mt-4">
                      <label for="description">Description</label>
                      <textarea id="description" name="description" style="height: 400px;" > <%= res.description %> </textarea>
                    </div>
                    

                    
                    <input type="submit" class="btn btn-primary mt-4 btn-md updateBlogDetails " data-id="<%= res._id %>"
                      value="Update Blog"> </input>
                  </form>

                </div>
              </div>
              <!-- / Content -->

              <footer class="content-footer footer bg-footer-theme">
                <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                  <div class="mb-2 mb-md-0">
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by
                    <a href="https://themeselection.com" target="_blank"
                      class="footer-link fw-bolder">ThemeSelection</a>
                  </div>
                  <div>
                    <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                    <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                    <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                      target="_blank" class="footer-link me-4">Documentation</a>

                    <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank"
                      class="footer-link me-4">Support</a>
                  </div>
                </div>
              </footer>

              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
    </div>


    <!-- / Layout wrapper -->

    <!-- build:js assets/vendor/js/core.js -->
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>

    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/assets/vendor/js/menu.js"></script>

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>


      $(document).ready(function () {

        $(".updateBlogDetails").on("click", function () {

          let id = $(this).data('id');

          let category = $("#category").find(':selected').val();
          let title = $("#title").val();
          let description = tinymce.activeEditor.getContent();
      

          $.ajax({
            type: "PUT",

            url: `/admin/updateBlog/` + id,
            data: {
              title: title,
              category: category,
              description: description,
            },

            success: function (data) {
              // alert(data);
              location.href = "/admin/allBlogs"
            },
            error: function (err) {
              // console.log("error ss :: " + err.message);
              $("#alert-message").html(`
                <div class="alert alert-danger" role="alert">
                  All fields are required 
                </div>
                `)

            }
          });

          return false;
        });

      })

    </script>


</body>

</html>